__pycache__/
*.py[cod]
*$py.class
*.so
.env
*.db
*.sqlite3
alembic/versions/*.py
.pytest_cache/
.vercel
dist/
node_modules/
.DS_Store
*.egg-info/
*.egg
.eggs/
build/
*.whl
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
.coverage.*
*.log
.venv/
venv/
env/